
<header>
  Challenge Itidigital
</header>
<div class="toolbar" role="banner">
<div class="password-container">
  <div style="width: 100%;">
    <div class="password-header">
      <img [src]="password" />
      Password verified
    </div>
    <div>
    <ul>
      <li>Ao menos 1 dígito</li>
      <li>Ao menos 1 letra minúscula</li>
      <li>Ao menos 1 letra maiúscula</li>
      <li>Ao menos 1 caractere especial </li>
    </ul>
    <label for="password">
    Password:
  </label><br />
  <input name="password" (ngModel)="passwordValue" (change)="passwordChange($event)" />
  <div class="result" [style.color]="color">{{result}}</div>

  <button (click)="validatePassword(passwordValue)">Validar</button>
  </div>
  </div>

</div>
</div>

<router-outlet></router-outlet>
