header {
  background: #140083;
  font-size: 28px;
  color: #ffffff;
  height: 105px;
  width: 90%;
  display: flex;
  align-items: center;
  padding-left: 10%;
}
img{
  width: 35px;
}

.toolbar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.password-container {
  display: flex;
  align-items: center;
  padding: 5%;
  position: relative;
  background: rgba(217, 217, 217, 0.21);
  border-radius: 12px;
  width: 630px;
  height: 230px;
}

.password-header {
  display: flex;
  row-gap: 25px;
  position: absolute;
  top: 50px;
  font-size: 20px;
  align-items: center;
}

ul {
  padding: 16px;
}

li {
  font-size: 14px;
  color: #1E1E1E;
}

input {
  width: 100%;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #1E1E1E;
}

.result {
  font-weight: 600;
  font-size: 12px;
}


button {
  background: #F79C60;
border-radius: 4px;
color: #ffffff;
font-weight: bold;
border: none;
width: 134px;
height: 35px;
font-size: 16px;
cursor: pointer;
margin-top: 10px;
}
